Repository juliawang2014/OUTutoringApp, pull requests merged in 2022-01, with the labels that each got.

#18 Implemented basic Google authentication
  src/App.tsx
  src/frontend/components/Home.tsx
  src/frontend/components/SignIn.tsx
  src/frontend/services/firebase.ts
Labels: enhancement, back end

#22 Merge hamburger menu, user info, SSO functions
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/backend/Database.tsx
  src/frontend/components/Home.tsx
  src/frontend/components/Navbar.tsx
  src/frontend/components/SignIn.tsx
  src/frontend/services/firebase.ts
Labels: enhancement, front end, back end, database

#29 cleaned up repo and removed unused imports
  src/App.test.tsx
  src/frontend/components/BMenu.tsx
  src/frontend/components/NavBar.tsx
  src/test/App.test.tsx
Labels: bug
